apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: '{{ .Values.projectName }}-{{ .Values.global.clusterName }}'
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      {{- range $serviceName, $service := .Values.services }}
       - values:
           serviceName: {{ $serviceName }}
           repoURL: {{ $service.repoURL }}
           targetRevision: {{ $service.targetRevision }}
           path: {{ $service.path }}
      {{- end}}
  syncPolicy:
    preserveResourcesOnDeletion: true
  template:
    metadata:
      name: '{{"{{ values.serviceName }}"}}-{{ .Values.global.clusterName }}'
    spec:
      syncPolicy:
        automated: {}
        
      project: default
      source:
        repoURL: '{{"{{ values.repoURL }}"}}'
        targetRevision: '{{"{{ values.targetRevision }}"}}'
        path: '{{"{{ values.path }}"}}'
        helm:
          valueFiles:
          - 'values.yaml'
      destination:
        name: 'https://kubernetes.default.svc'
      